*{
    padding: 0;margin: 0;
    color: white;
    background-image: url(https://images.pexels.com/photos/1133957/pexels-photo-1133957.jpeg?auto=compress&cs=tinysrgb&w=600);
    
    background-image: url(https://pngtree.com/freepng/flying-cup-of-coffee-with-splash-and-coffee-beans-png-background_5057949.html);
}
#navbar{
   background-color: black;
   color: white;
   height: 60px;
  
  border: 5px solid white;
}
button{
    background-color: orange;
    font-weight: bold;font-size: larger;
}

#logo{
background-color: orange;
font-weight: bold;font-size: larger;
}

a{
    margin-right: 250px;
    text-decoration: none;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: bold;font-size: larger;
}
.div{
    border: 5px solid black;
    height: 150px;width: 150px;
    margin: 10px;background-color: blueviolet;color: black;
    flex-direction: column;
    justify-content: flex-end;
    transition-property: all;
    transition-duration: 2s;
    /* transition-delay: 5s; */
    cursor: progress;
    text-align: center;justify-content: center;align-items: center;
    
}
div:hover{
    background-color: aquamarine;
    color: black;tr
}
div :active{
    background-color: pink;
}